<!DOCTYPE html>
<html lang="zxx">
  <head>
   <meta charset="utf-8">
   <title>Nieuws1</title>
   <link rel="stylesheet" type="text/css" href="css.css">
  </head>
  <Body>
    <header>
    <h1>Het laatste nieuws</h1>
  <nav>
    <ul>
     <li><a href="homepage.html">Thuispagina</a></li>
      <li><a href="over.html">Over mijn hobby</a></li>
      <li><a href="nieuws.html">Laatste nieuws</a></li>
    </ul>
  </nav>
</header>
 <main>
  <div id="nieuws">
    <h2>5 opvallenden features van Dragon Ball Fighter Z</h2>
    <img src="new.png" alt="instinct" height="250" width="300">
    <p>Het rooster van Fighter Z wordt steeds meer uitgebreid.
      Zo werd pas bekendgemaakt dat we Tien, Yamcha en een geheel nieuw personage, Android 21, in de game kunnen verwachten.
      Deze nieuwe personages waren uiteraard niet aanwezig in de beta, maar een groot aantal favorieten wel.
    <a href="https://www.xgn.nl/5-opvallende-features-uit-de-dragon-ball-fighter-z-beta/all">lees verder</a></p>
    </div>
    <aside>
      <a href="https://www.kortings-code.eu/gate1/e10-korting-op-vliegtickets/" target="_blank">
       <img src="reclame.png" alt="reclame"></a>
    </aside>
   </main>
   <footer>This website was build by Colin de Wit</footer>
  </body>
</html>
