<!DOCTYPE html>
<html lang="zxx">
  <head>
   <meta charset="utf-8">
   <title>Nieuws3</title>
   <link rel="stylesheet" type="text/css" href="css.css">
  </head>
  <Body>
    <header>
    <h1>Het laatste nieuws</h1>
  <nav>
    <ul>
     <li><a href="homepage.html">Thuispagina</a></li>
      <li><a href="over.html">Over mijn hobby</a></li>
      <li><a href="nieuws.html">Laatste nieuws</a></li>
    </ul>
  </nav>
</header>
 <main>
  <div id="nieuws">
    <h2>Dragon Ball Super episode 109 110 review</h2>
    <img src="review.png" alt="instinct" height="250" width="300">
    <p>After weeks of fighting, the event that everyone in the Tournament of Power
      was waiting for finally happened Jiren and Goku met up in battle.
      An epic, nearly world-shattering fight ensued.
      It wasn’t without its stumbles, but they were few and far between,
      which left ample room for Super to amaze and delight with its amazing battles and stunning ki-blasts.
    <a href="http://www.ign.com/articles/2017/10/10/dragon-ball-super-episodes-109-and-110-review">lees verder</a></p>
    </div>
    <aside>
      <a href="https://www.kortings-code.eu/gate1/e10-korting-op-vliegtickets/" target="_blank">
       <img src="reclame.png" alt="reclame"></a>
    </aside>
   </main>
   <footer>This website was build by Colin de Wit</footer>
  </body>
</html>
