<!DOCTYPE html>
<html lang="zxx">
  <head>
   <meta charset="utf-8">
   <title>Nieuws2</title>
   <link rel="stylesheet" type="text/css" href="css.css">
  </head>
  <Body>
    <header>
    <h1>Het laatste nieuws</h1>
  <nav>
    <ul>
     <li><a href="homepage.html">Thuispagina</a></li>
      <li><a href="over.html">Over mijn hobby</a></li>
      <li><a href="nieuws.html">Laatste nieuws</a></li>
    </ul>
  </nav>
</header>
 <main>
  <div id="nieuws">
    <h2>Goku's nieuwe transformatie uitgelegd</h2>
    <img src="kaio-planet.jpg" alt="instinct" height="250" width="300">
    <p>Cheating in Dragon Ball Xenoverse 2 on PC/Steam makes battles online, ranked and unranked, an abysmal experience for players who fight fair.
      Luckily, Bandai Namco Entertainment has announced this Wednesday,
      October 4, they will be releasing a new anti-cheat tool for Dragon Ball Xenoverse 2 on PC/Steam to combat this issue.
      The anti-cheat tool is designed to stop online uses of boosters, gameplay alterations and various cheats contributing to an unfair online environment.
      The implementation and execution of the anti-cheat tool will be seamless and automatically disable cheats.
      Those users who decide to be persistent in circumventing the anti-cheat tool will be banned by the system.
    <a href="http://www.saiyanisland.com/2017/10/anti-cheat-tool-to-xenoverse-2-on-pc-possible-implications-for-dragon-ball-fighterz/">lees verder</a></p>
    </div>
    <aside>
      <a href="https://www.kortings-code.eu/gate1/e10-korting-op-vliegtickets/" target="_blank">
       <img src="reclame.png" alt="reclame"></a>
    </aside>
   </main>
   <footer>This website was build by Colin de Wit</footer>
  </body>
</html>
